.black {
 background-color: black;
 color: white;
}
.blue{
 background-color: #469ae0;
 color: white;
}
.jumbotron{
   color: white;
   background-color: black;
   background-image: url("https://media2.fdncms.com/boiseweekly/imager/u/magnum/5944763/picks_gaming_123rf.jpgSs");
   background-repeat: no-repeat; 
   margin-bottom: 0;
   background-size: cover;
}
.font{
    color:black;
}
.img{
    width: 100%;
}

